/* global-styles.css */

.icon-container {
      display: flex;
      align-items: center;
  }
  
  .btn-icon {
      cursor: pointer;
      margin-right: 5px;
  }
  
  .link-icon {
      color: blue; /* Warna yang Anda inginkan */
      text-decoration: underline;
  }
  
  .link-icon:hover {
      color: darkblue; /* Warna yang Anda inginkan ketika dihover */
  }